# Virtual Environment
taskenv/
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env

# SQLite Database (remove if you want to upload sample DB)
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Cache
.pytest_cache/
.mypy_cache/

# Logs
*.log